h1, h2, h3, h4, h5, h6, p, a, th, tr, td {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #6e6d6b
}

code {
    font-size: 150%;
}

table, th, td {
    border: 2px solid black;
    font-size: large;
}

.code {
    background-color: white;
    padding: 5px;
}